.carousel__container {
  width: 95%;
  max-width: var(--max-width);
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  color: var(--tertiary-color);

  .carousel__products {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  .skeleton {
    width: 246px;
    height: 343px;
    border-radius: 4px;
  }
}
