<section class="skeleton__container">
  <div
    class="image__container"
    tuiAppearance="neutral"
    tuiCardLarge
    [tuiSkeleton]="true"
  >
    asdasd
  </div>

  <div class="info__container">
    <div class="header__product">
      <h1 tuiAppearance="neutral" tuiCardLarge [tuiSkeleton]="true">
        asdasdasdasd
      </h1>
    </div>

    <h2 tuiAppearance="neutral" tuiCardLarge [tuiSkeleton]="true">
      asdasdasdasdasdas
    </h2>

    <p tuiAppearance="neutral" tuiCardLarge [tuiSkeleton]="true">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus ducimus,
      non vel iusto harum quibusdam ad a beatae possimus nobis quidem quam. Id
      dolorum, nobis repellat facere nulla officiis voluptate?
    </p>
  </div>
</section>
