.divider__container {
  width: 95%;
  max-width: var(--max-width);
  margin: 5rem auto;
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 1rem;

  .divider__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    img {
      padding: 1rem;
      border-radius: 50%;
      background-color: var(--white-color);
      box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    }

    h3 {
      color: var(--secondary-color);
    }

    p {
      width: 180px;
      text-align: center;
      color: var(--disabled-color);
    }
  }
}
