.header__container {
  width: 100%;
  min-height: var(--heigth-header);
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .header__nav {
    width: 100%;
    max-width: 1400px;
    height: var(--heigth-navbar);
    margin: 0 auto;
  }
}
