<section class="product__grid">
  <article class="products__filter">
    <app-title [title]="'todos los productos'" />

    <app-select-filter
      class="select__container"
      (selectedFilter)="emitFilter($event)"
    />
  </article>

  <article class="products__container">
    @if (products()) {
      @for (product of products(); track $index) {
        <app-products-card [product]="product" />
      }
    }
  </article>

  <app-pagination
    [pagination]="data().pagination"
    (pageChange)="emitPage($event)"
  />
</section>
