<section class="product__grid">
  @if (products().length > 0) {
    <article class="products__filter">
      <app-title [title]="'todos los productos'" />

      <app-select-filter
        class="select__container"
        (selectedFilter)="emitFilter($event)"
      />
    </article>
  }

  <article class="products__container">
    @if (products().length > 0) {
      @for (product of products(); track $index) {
        <app-products-card [product]="product" />
      } @empty {
        <app-skeleton-card [isCarousel]="false" />
      }
    } @else {
      <tui-block-status>
        <img
          alt="No se encontraron productos"
          src="./images/not-found.svg"
          tuiSlot="top"
          class="image"
        />

        <h4>No se encontraron productos</h4>
      </tui-block-status>
    }
  </article>

  @if (products().length > 0) {
    <app-pagination
      [pagination]="data().pagination"
      (pageChange)="emitPage($event)"
    />
  }
</section>
